* {
  box-sizing: border-box;
}
.mealName {
  margin-top: 80px;
  width: 100%;
}

.meal-list {
  border: 1px solid #41403f;

  padding: 20px;
  box-shadow: 5px 5px 8px #e4490c;
  margin-bottom: 5px;
  margin-top: 10px;
  line-height: 25px;
}
.text {
  font-size: 20px;
  display: flex;
  align-items: center;
  font-size: 30px;
}
.box {
  height: 50px;
  width: 600px;
  justify-content: space-between;
  background-color: rgb(97, 80, 107);
  color: #fff;
}
